<form action="/routes/novaconta/criada" method="POST">
<label for="nome">Nome: </label>
    <input type="text" id="nome" name="nome" placeholder="Nome da pessoa">
<label for="email">Email: </label>
    <input type="text"  id="email" name="email" placeholder="Email">
<label for="cpf">CPF: </label>
    <input type="text"  id="cpf" name="cpf" placeholder="CPF">
<button type="submit" class="btn btn-sucess">Criar pessoa</button>
</form>