<div class="card">
    <div class="card-body">
        <form action="/routes/login" method="post">
            <label for="cpf">Cpf: </label>
            <input type="text" class="form-control" name="cpf" required>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
</div>
